version: 2
updates:
  - package-ecosystem: "npm"
    registries: "*"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      production-dependencies:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      production-major:
        dependency-type: "production"
        update-types:
          - "major"
      dev-dependencies:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
      dev-major:
        dependency-type: "development"
        update-types:
          - "major"
