html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

.mantine-Pagination-active {
  background-color: #BFBFC1
}

@media screen and (max-width: 768px) {
  .only-non-mobile {
      display:none; 
  }
}

@media screen and (min-width: 768px) {
  .only-mobile {
      display:none; 
  }
}